
<% if @tweets.present? %>
  <h1>Tweets encontrados:</h1>
  <% @tweets.each do |tweet| %>
    <%= render tweet %>
    <hr>
  <% end %>
  <%= link_to "Volver a Tweets", tweets_path, class: "btn btn-secondary" %>
<% else %>
  <p>No se encontraron tweets.</p>
<% end %>

